{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>
    {% if product.picture is not null %}
    {# <img src="{{ asset('uploads/pictures/' ~ product.picture.b64) }}" class="card-img-top" alt="{{ product.picture.b64 }}" height="300" width="400"> #}
        <img src="{{ product.picture.b64 }}" height="300" width="400"/>
    {% endif %}

    <table class="table">
        <tbody>

            {# <!--<tr>
                <th>Stock</th>
                {% if product.stock is not null %}
                    {% if product.stock.quantity > 0 %}
                        <td>{{ product.stock.quantity }} U </td>
                    {% else %}
                        <td>En rupture de stock !</td>
                    {% endif %}
                {% else %}
                    <td>En rupture de stock !</td>
                {% endif %}
            </tr> -->#}

            <tr>
                <th>Category</th>
                <td>{{ product.Category.name }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            {# <!-- <tr>
                <th>Price</th>
                <td>{{ product.price }} €</td>
            </tr>
            <tr>
                <th>dont TVA</th>
                <td>{{ product.tva.taux * product.price }} €</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>  -->#}
            <tr>
                <th>Allergens</th>
                <td>
                    {% for allergen in product.allergens %}
                        {{ allergen.name }}
                    {% else %}
                        {{ "Ne contient pas de produits allergènes." }}
                    {% endfor %}
                </td>
            </tr>
            {% if product.nutritionals is not null %}
            <tr>
                <th>Nutrition Facts</th>
                <td>
                    <th>Energie (KJ)</th>
                    <td>{{ product.nutritionals.kJ }}</td>
                    <th>Energie (KCal)</th>
                    <td>{{ product.nutritionals.KCal }}</td>
                    <th>Proteins</th>
                    <td>{{ product.nutritionals.protein }}</td>
                    <th>Carbohydrates</th>
                    <td>{{ product.nutritionals.carbohydrates }}</td>
                    <th>Sugar</th>
                    <td>{{ product.nutritionals.sugar }}</td>
                    <th>Fat</th>
                    <td>{{ product.nutritionals.fat }}</td>
                    <th>Saturated Fat</th>
                    <td>{{ product.nutritionals.transAG }}</td>
                    <th>Sodium</th>
                    <td>{{ product.nutritionals.salt }}</td>
                </td>
            </tr>
            {% endif %}
            {% if product.variants is not null %}
                <th>Variants</th>
                <td>
                    {% for variant in product.variants %}
                        <th>{{ variant.name }}</th>
                        <td>{{ variant.price }} €</td>
                    {% endfor %}
                </td>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
